<div class="grid place-items-center h-screen py-4">
<div class="p-4 w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
  <%= form_with(model: @user) do |form| %>
  <% @user.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

   <h5 class="text-xl font-medium text-gray-900 dark:text-white">Welcome</h5>
        <div>
            <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= form.email_field :email, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        </div>
        <div>
            <%= form.label :username, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= form.text_field :username, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        </div>
        <div>
            <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= form.password_field :password, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        </div>
        <div>
            <%= form.submit 'Login to your account', class: 'w-full text-white bg-fuchsia-700 hover:bg-fuchsia-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-fuchsia-600 dark:hover:bg-fuchsia-700 dark:focus:ring-blue-800 mt-2' %>
        </div>
   <% end %>
  </div>
</div>



