
<div class="max-w-sm rounded overflow-hidden shadow-lg box flex flex-col" >
<%= link_to product_path(product), class: 'product', 'data-turbo-frame': '_top' do %>
    <div class=" w-full ">
        <div class="box-header">
            <% if product.photo.attached? %>
                <%= image_tag product.photo %>
             <% else%>
                <%= image_tag 'default.jpeg'%>
            <% end%>
        </div>
        <div class="box-body">
            <h2 class="text-center font-semibold text-fuchsia-800 p-2"><%= product.title %></h2>
            <br>
            <div class="mt-auto w-full">
                <span class=" text-fuchsia-900">
                    <%= product.price %>$
                </span>
            </div>
        </div>
    </div>
<% end %>
</div>