<%= image_tag @product.photo, width: 200 if @product.photo.attached? %>
<h1 class='title'><%= @product.title %></h1>
<p class='description'><%= @product.description %></p>

<span class='price'><%= @product.price %>$</span>
<br>
<%= link_to t('.edit'), edit_product_path(@product) if @product.owner? %>

<%= link_to t('.delete'), product_path(@product), 
  class:"m-2 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2", data: {
  turbo_method: :delete,
  turbo_confirm: t('common.confirm')
} if @product.owner? %>
