<!DOCTYPE html>
<html>
  <head>
    <title>SEXSHOP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/flash' %>

  <% if current_page?(new_session_path) ||  current_page?(new_user_path) %>
  <div  class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500  ">
     <%= render 'shared/login_header' %>
    <%= yield %>
  </div>
  <% else %>
    <div  class="bg-white ">
   <%= render partial: 'products/search'%>
    <%= render 'shared/header' %>
    <%= yield %>
      </div>
       <%= render 'shared/footer' %>
  <% end %>
  </body>
</html>




